<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Company</th>
			<th>Monthly</th>
			<th>Role</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Active</th>
			<th>Notes</th>
			<th>
				<%= link_to 'Back' , new_user_path, :class=> "btn btn-outline-info"%>
			</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each  do |u|%>
		<tr>
			<td><%= u.first_name %></td>
			<td><%= u.last_name %></td>
			<td><%= u.email %></td>
			<td><%= u.company_id %></td>
			<td><%= u.monthly_charge %></td>
			<td><%= u.rol_id %></td>
			<td><%= u.start_date%></td>
			<td><%= u.end_date	%></td>
			<td><%= u.active %></td>
			<td><%= u.notes %></td>
			<td><%= link_to 'Show',  user_path(u) %></td>
			<td><%= link_to 'Edit', edit_user_path(u) %></td>
			<td><%= link_to 'Delete',  user_path(u), method: :delete, data: {confirm: 'Are You Sure'} %></td>
		</tr>
		<div>
		</div>
		<% end %>
	</tbody>
</table>