<h1>New User</h1>
<%= form_with scope: :user, :html => {:class => "form-horizontal center"}, url: users_path,  local: true do |f| %>
	<div class="form-row">
		<div class="form-group col-md-4">
			<%= f.label :first_name, "First name:", class: "control-label"%>
			<%= f.text_field :first_name, class: "form-control" %>
		</div>
		<div class="form-group col-md-4 ">
			<%= f.label :last_name, "Last name:", class: " control-label"%>
			<%= f.text_field :last_name, class: "form-control " %>
		</div>
		<div class="form-group col-md-4">
			<%= f.label :email, "Email:", class: "control-label"%>
			<%= f.text_field :email, class: "form-control" %>
		</div>

		<div class="form-group col-md-8">
			<%= f.label :company_id, "Company:", class: " control-label"%>
			<%= f.select :company_id,[["Apple", 1], ["Grape", 2]], { class: "selectpicker" },:class=>"form-control" %>
		</div>
		<div class="form-group col-md-4">
			<%= f.label :monthly_charge, "Monthly:", class: "control-label"%>
			<%= f.text_field :monthly_charge, class: "form-control" %>
		</div>
		<div class="form-group col-md-8">
			<%= f.label :rol_id, "Role:", class: "control-label"%>
			<%= f.select :rol_id,[["Apple", 1], ["Grape", 2]], { class: "selectpicker" },:class=>"form-control" %>
		</div>

		<div class="form-inline col-md-12">
			<div class="form-group  col-md-4">
				<%= f.label :start_date, "StartDate:", :class=> "col-form-label" %>
				<div class="input-group-date">
				<%= f.text_field :start_date, :class=>"datepicker"%>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.datepicker').datepicker('show');
				});
			</script>

	      	<div class="form-group  col-md-4">
	      		<%= f.label :end_date, "EndDate:", :class=> "col-form-label" %>
	        	<div class='input-group date'>
	          	<%= f.text_field :end_date, :class=>"datepicker1"%>
	              <span class="input-group-addon">
	                  <span class="glyphicon glyphicon-calendar"></span>
	              </span>
	          </div>
	      	</div>
	      	<script type="text/javascript">
				  $(document).ready(function(){
				    $('.datepicker1').datepicker('show');
				  });
			</script>

			<div class="form-group col-md-4">
				<div class="form-check">
					<%= f.check_box :active%>
					<%= f.label :Active %>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-8"> -->
			<%#= f.label :image_id,"Image:", :class=> "col-form-label"%>
			<%#= f.image_tag :image_id, :class=> "img-responsive"%>
		<!-- </div> -->

		<div  class="col-md-12 form-inline">
			<div class="form-group col-md-2" >
				<%= f.label :notes, "Notes:", :class=>'col-form-label'%>
			</div>
			<div class="col-md-10">
				<%= f.text_area :notes, :class => 'ckeditor'%>
			</div>
		</div>

		<div class="offset-md-6">
			<%= f.submit "Save", class: "btn btn-primary" %>
			<%= f.submit "Cancel", class: " btn btn-info" %>
			<%= link_to 'Back' , users_path%>
		</div>
		

		

	</div>
<% end %>