<div class="d-flex justify-content-center"><h1>List of User and Region</h1></div><br>

<table class="table table-striped table-dark table-bordered">
	<thead>
		<tr>
			<th>User</th>
			<th>Region</th>
			<th>
				<%= link_to 'Back' ,new_user_region_path, :class=> "btn btn-outline-danger"%>
			</th>
		</tr>
	</thead>
	<tbody>
		<% @user_regions.each  do |ur|%>
		<tr>
			<td><%= ur.user_id %></td>
			<td><%= ur.region_id %></td>
			<td><%= link_to 'Show',  user_region_path(ur) %></td>
			<td><%= link_to 'Edit',  edit_user_region_path(ur) %></td>
			<td><%= link_to 'Delete',  user_region_path(ur), method: :delete, data: {confirm: 'Are You Sure'} %></td>
		</tr>
		<div>
		</div>
		<% end %>
	</tbody>
</table>