<div class="d-flex justify-content-center"><h1>Edit Images</h1></div><br>
<%= form_with(model: @image,local: true)  do |f| %>

	<div class="form-group d-flex justify-content-center">
			<%= f.label :user_id, "User Id:", class: "control-label col-md-3"%>
			<%= f.text_field :user_id, class: "form-control col-md-8" %>
	</div>
	
	<div class="form-group d-flex justify-content-center">
			<%= f.label :real_name, "Real name:", class: "control-label col-md-3"%>
			<%= f.text_field :real_name, class: "form-control col-md-8" %>
	</div>

	<div class="form-group d-flex justify-content-center">
			<%= f.label :image_name, "Image name:", class: "control-label col-md-3"%>
			<%= f.text_field :image_name, class: "form-control col-md-8" %>
	</div>

	<div class="offset-md-5">
			<%= f.submit "Save", class: "btn btn-primary" %>
			<%= f.submit "Cancel", class: "btn btn-info" %>
			<%= link_to 'Back', images_path, class: " btn btn-success"%>
	</div>
<% end %>